In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [18]:
symbol = "3311.HK"
ticker = yf.Ticker(symbol)

In [31]:
print([ticker.get_institutional_holders()["Holder"]][0][0])

Fidelity Series Emerging Markets Opportunities Fund

In [37]:
pd.read_html("https://www.marketwatch.com/investing/index/hsi?countrycode=hk")[-2]

                                      Company       Last   Chg  Chg %
0                                Xiaomi Corp.   HK$26.55  1.40  5.57%
1     Sunny Optical Technology Group Co. Ltd.  HK$154.40  6.30  4.25%
2  Shenzhou International Group Holdings Ltd.  HK$132.50  2.10  1.61%
3                  Power Assets Holdings Ltd.   HK$41.15  0.65  1.60%
4                                  CITIC Ltd.    HK$5.66  0.06  1.07%
5                       Tencent Holdings Ltd.  HK$587.50  4.00  0.69%
6              New World Development Co. Ltd.   HK$37.80  0.20  0.53%
7              Techtronic Industries Co. Ltd.   HK$97.15  0.45  0.47%
8                Wuxi Biologics (Cayman) Inc.   HK$81.30  0.35  0.43%
9             CK Infrastructure Holdings Ltd.   HK$39.65  0.15  0.38%

In [38]:
from googlesearch import search

In [78]:
def index_performance(index):
    tables = pd.read_html(list(search(("market watch" + index),tld='es', lang='es',stop=1,num=1))[0],encoding="UTF-8")
    gainers = tables[-2]
    laggers = tables[-1]
    return gainers, laggers

In [74]:
pd.read_html("https://www.cnbc.com/asia-markets/")

ValueError: No tables found matching pattern '.+'

In [88]:
gainers, laggers = index_performance("")

In [90]:
gainers

                   0      1
0            5 yr CD  0.59%
1            2 yr CD  0.45%
2            1 yr CD  0.41%
3          MMA $10K+  0.13%
4          MMA $50K+  0.20%
5        MMA Savings  0.20%
6  MMA Savings Jumbo  0.21%